#/favicon.ico
/.idea
/access.log
/css/access.log
/db*
/documentation*
/images/access.log
/js/access.log
/library/common/config.mysql.inc.php
/library/services/backend/config.mysql.inc.php
/meta/access.log
/phpdox/*
!/phpdox/readme.txt
/public_html/images/selected-icons/*.css
/public_html/images/selected-icons/*.html
/public_html/images/selected-icons/*.png
/public_html/install/license.ini
/tmp/*
!/tmp/.htaccess
!/tmp/index.php
!/tmp/readme.txt
!/tmp/backend/index.php
!/tmp/localhost/index.php
/library/cruder/templates/.sass-cache
/tmp/localhost/*.php
/tmp/localhost
/tmp/backend
