!/tmp/.htaccess
!/tmp/backend/index.php
!/tmp/index.php
!/tmp/localhost/index.php
!/tmp/readme.txt
/.idea
/**/access.log
/database/*.ini
/database/*.php
/database/db*
/documentation/
/library/common/config.mysql.inc.php
/library/cruder/templates/.sass-cache
/library/services/backend/config.mysql.inc.php
/public_html/images/selected-icons/*.css
/public_html/images/selected-icons/*.html
/public_html/images/selected-icons/*.png
/tmp/*
/tmp/backend
/tmp/localhost
/tmp/localhost/*.php
/**/*.phar
todo.txt
/lint-checker.bat
/lint-checker.log
/phpunit/phpunit.phar
/phpunit/phpunit.cmd
/scss/.sass-cache
/vendor
