1:33 AM 6/30/2010

This file serves as license or registration key.

File name: install/license.txt
File contents: Put here, anything as your license text or code.

Absence of this file means, this software is NOT installed legally.
You will have to follow the installation procedures.

This application is already used in several enterprise level web applications
and runs flawlessly. But in a free distribution, I can not give all the codes
and contents. Hence, while removing them out, this application might show some
errors, which is normal.

But you can modify it and adjust it into your commercial products.
