1:33 AM 6/30/2010

This file servers as license or registration key.

File name: install/license.txt
File contents: Put here, anything as your license text or code.

Absence of this file means, this software is NOT installed legally.
You will have to follow the installation procedures.

====================================================================

This product is NOT a part of Smarty Template Engine.
However, it uses Smarty Template Engine in an unmodified form.

This application comes with a hope that it may be useful to you.
However, I am NOT responsible for any damages it can cause.

This is free for those who self understand this application.

COMMERCIAL USAGES MUST PAY SOME DONATIONS, LARGER THAN 50$.
Please send your donations to: ________ (paypal),
or, hire me at http://www.odesk.com/users/~~dd91d11caed0cdce

This product is a worth work equivalent to one month for:
idea, plans, coding, testing, implementation, database design,
contents and bug fixing.

Paid support can be available. You should hire me at:
http://www.odesk.com/users/~~dd91d11caed0cdce

This application is already used in several enterprise level web applications
and runs flawlessly. But in a free distribution, I can not give all the codes
and contents. Hence, while removing them out, this application might show some
errors, which is normal.

But you can modify it and adjust it into your commercial products.