/**
 * CSS produced for __SUBDOMAIN_NAME__, as of __TIMESTAMP__
 */

.search-form
{
	background-color: #d9e7d9;
	
	table
	{
		width: 100%;
	}

	table th
	{
		text-align: left;
		padding: 4px;
	}

	input[type="text"]
	{
		width: 200px;
	}
}
