/**
 * CSS produced for __SUBDOMAIN_NAME__, as of __TIMESTAMP__
 */

.search-form
{
	background-color: #d9e7d9;
}

.search-form table
{
	width: 100%;
}

.search-form table th
{
	text-align: left;
	padding: 4px;
}

.search-form input[type="text"]
{
	width: 200px;
}