<?xml version="1.0"?>
<configuration>
<system.webServer>
<rewrite>
  <rules>
    <!--# Even if the valid files are called, block them.-->
    <!--# No files under this directory are browsable.-->
    <!--# The handler - index.php - just shows a warning only.-->
    <!--# It proects any sub-domain packs or other resources.-->
    <rule name="Protected all /library files" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <action type="Rewrite" url="index.php?file={R:1}" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
</system.webServer>
</configuration>
